<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Router</title>
</head>
<body>
<script type="text/javascript" th:src="@{/js/lib/underscore-min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/jquery-3.4.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/lib/backbone.js}"></script>

<script type="text/javascript" th:src="@{/js/router.js}"></script>
<section id="routemenu">
    <ul>
        <li><a href="#/route/1">This is route no.1 </a></li>
        <li><a href="#/route/2">This is route no. 2 </a></li>
        <li><a href="#/route/3">This is route no. 3 </a></li>
    </ul>
</section>

</body>
</html>